<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<main class="offcanvas-outside bg-light">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<div class="card shadow">
							<div class="card-header">
								<h6 class="text-navy my-2">
									책 수정하세유~
								</h6>
							</div>
							<div class="card-body">
								<form th:action="@{/edit_ok}" th:object="${book}"
									method="post">
									<input type="hidden" th:field="*{id}"/>
									<div class="mb-5">
										<label for="title">제목</label>
										<input type="text" name="title"
												class="form-control"
												th:field="*{title}"
												th:errorclass="is-invalid" /> 
											<div th:errors="*{title}"
												class="invalid-feedback">에러!</div>
									</div>		
									<div class="mb-3">	
										<label for="detail">상세</label>	
										<textarea 
												class="form-control"
												name="detail" 
												th:field="*{detail}"
												th:errorclass="is-invalid"></textarea>
											<div th:errors="*{detail}"
												class="invalid-feedback">에러!</div>
									</div>
									
									<hr/>
									<button class="btn btn-navy col-4">
										<i class="bi bi-pencil-fill"></i>
										<span class="text">책 수정</span>
									</button>
									
										
											
								</form>
							</div>
						</div>
					</div>
				</div>
				
				
				
			</div>
		</main>
		
	</div>
</body>
</html>




